<html>
  <head>
    <title>{% block title %}PWS Todo example app{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <br>
      <div class="row">

        <div class="side_bar col">
          {% block side_bar %}
          {% endblock %}
          <form action="" method="GET">
          <label for="man">Manufacturer:</label>
          <select id="man" name="manufacturer">
            <option value=0></option>
          {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.id }}">{{ manufacturer}}</option>
          {% endfor %}
          </select>
          <br>
          <label for="model">Model</label>
          <select id="model" name="model">
            <option value=0></option>
          {% for model in models %}
            <option value="{{ model.id }}">{{ model }}</option>
          {% endfor %}
          </select>
          <br>
          <label for="year">Year</label>
          <select id="year" name="year">
            <option value=0></option>
          {% for year in years %}
            <option value="{{ year.id }}">{{ year}}</option>
          {% endfor %}
          </select>
          <br>



            <input type="submit" value="Select" />

          </form>




        </div>

        <div class="main_content col-8">
          <div class="table-responsive-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">Model</th>
                  <th scope="col">Year</th>
                  <th scope="col">Gearbox</th>
                  <th scope="col">Color</th>
                </tr>
              </thead>
              <tbody>
                {% for car in cars %}
                  <tr>
                  <td>{{car.manufacturer}}</td>
                  <td>{{car.models_type}}</td>
                  <td>{{car.production_year}}</td>
                  <td>{{car.get_gearbox_type_display}}</td>
                  <td>{{car.color}}</td>
                </tr>
                  {% empty %}
                  <td><li>No such combination</li></td>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
